extends layout

block link
  -var selected = 'bookmarks';

block content
  h1 Add Shiori
    form(action='/bookmarks', method='post')
      input(type='text', name='url', size='80', placeholder='URL')
      input(type='submit', value='Hasamu')
  h1 Shiori Listing
  p #{bookmarks.length} bookmark(s)
  if(bookmarks.length > 0)
  ul
    each bookmark in bookmarks
      li
        a(href='#{bookmark.url}', target='_blank') #{bookmark.url}
