doctype html
html
  block link
    -var selected = 'home';

  -var menu = { home: '/', shiori: '/bookmarks' };
  if isAdmin
    - menu.users = '/users';
  if isLogin
    - menu.logout = '/logout';
  else
    - menu.login = '/login';

  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//yui.yahooapis.com/pure/0.4.2/pure-min.css')
  body
    nav.pure-menu.pure-menu-open.pure-menu-horizontal
      ul
        each val, key in menu
          li
            if selected === key
              a.selected(href=val, title=key)= key
            else
              a(href=val, title=key)= key

    block content
