extends layout

block content
  if errors
    ul
    each error in errors
      li #{error}
  h1 Login
  form(action='/login', method='post').pure-form
    input(type='text', name='id', placeholder='ID')
    input(type='submit', value='Login').pure-button
