extends layout

block content
  if errors
    ul
    each error in errors
      li #{error}
  h1 Login
    form(action='/login', method='post')
      input(type='text', name='id', placeholder='id')
      br
      input(type='submit', value='Login')
